{% extends "general/layout.html" %} 
{% block head_title %} Biblioteca - Home {% endblock %} 

{% block page_content %}
<h2 class="text-xl text-center pb-4">¡Bienvenido a la Biblioteca!</h2>
{% comment %} BUSCADOR {% endcomment %}
  <form action="" method="get" class="relative flex w-full max-w-sm">
      {% csrf_token %}
      <input
      name="q"
      type="text"
      placeholder="Titulo / Autor"
      class=" w-full rounded-lg border border-gray-300 bg-white px-4 py-2.5 pr-24 text-sm focus:border-pink-500 focus:outline-none"
      required
    />
    
    <button
      type="submit"
      class="absolute right-1 top-1 rounded bg-pink-500 px-5 py-2 mr-1 text-xs font-bold uppercase text-white hover:bg-pink-600 transition-colors"
      >
          Buscar
    </button>
  </form>

{% comment %} CONTENIDO DE LA PÁGINA {% endcomment %}
<div class="w-full pt-5 px-4 mb-8 mx-auto"></div>
<section class="text-center">
  <h3 class="text-l pb-4 pt-3">Últimos libros añadidos</h3>
  <div class="grid grid-cols-3 gap-5 mx-auto">
    {% for book in books %}
      {% include "_includes/_books/_book.html" %}
    {% empty %}
    <p>No hay libros en la biblioteca.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}

