{% extends "general/layout.html" %}

{% block page_content %}
    <div class="container p-4">
        <h2>¡Bienvenido a la Biblioteca!</h2>
        <div class="">
                {% for book in books %} 
                    <article class="flex flex-col items-center gap-2">
                        <p>{{book.title}}</p>
                        <img class="max-w-[200px]"src="{{book.frontpage.url}}" alt="{{book.title}}">
                    </article>
                {% empty %}
                    <p>No hay libros en la biblioteca.</p>
                {% endfor %}
        </div>
    </div>
{% endblock %}