{% extends "general/layout.html" %} 
{% block head_title %} Biblioteca - Home {% endblock %} 

{% block page_content %}
<h2 class="text-xl text-center pb-4">¡Bienvenido a la Biblioteca!</h2>
{% comment %} BUSCADOR {% endcomment %}
<div class="relative flex w-full max-w-sm">
  <input
    type="text"
    placeholder="Titulo"
    class="w-full rounded-lg border border-gray-300 bg-white px-4 py-2.5 pr-24 text-sm focus:border-pink-500 focus:outline-none"
    required
  />
  <button
    type="button"
    class="absolute right-1 top-1 rounded bg-pink-500 px-5 py-2 mr-1 text-xs font-bold uppercase text-white hover:bg-pink-600 transition-colors"
    >
        Buscar
  </button>
</div>
{% comment %} CONTENIDO DE LA PÁGINA {% endcomment %}
<div class="w-full pt-5 px-4 mb-8 mx-auto"></div>
<section class="text-center">
  <h3 class="text-l pb-4 pt-3">Últimos libros añadidos</h3>
  <div class="flex flex-wrap justify-center gap-4 mx-auto">
    {% for book in books %}
    <article class="flex flex-col items-center gap-2">
      <p>{{book.title}}</p>
      <img
        class="w-32 h-48 object-cover object-center rounded-lg shadow-md"
        src="{{book.frontpage.url}}"
        alt="{{book.title}}"
      />
    </article>
    {% empty %}
    <p>No hay libros en la biblioteca.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
