{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Biblioteca - Login {% endblock %}


{% block page_content %}
    <h1 class="text-center text-3xl pt-4">Iniciar Sesión</h1>
    <form action="" method="post" class="pt-4 mx-auto max-w-sm text-center">
        {% csrf_token %}
        <div class="row">
            <div class="col-12 col-sms-6">
                {{ form.username|as_crispy_field}}
                {{ form.password|as_crispy_field}}
            </div>
            <button class="bg-pink-500 hover:bg-pink-600 transition-colors text-white font-bold py-2 px-4 rounded text-center">Login</button>
        </div>
    </form>
{% endblock %}