{% extends "general/layout.html" %} 
{% load is_staff %}
{% load crispy_forms_tags %}
{% block head_title %} Biblioteca - {{author.name}} {% endblock %} 

{% block page_content %}
    <h2 class="text-[2rem] text-center pb-4 pt-4">{{ author.name }} {{ author.last_name }}</h2>
    <section class="flex justify-center gap-4">
        <img class="w-55 h-75" src="{{ author.photo.url }}" alt="{{ author.name }}">
        <article>
            <hr>
            <b>Nacionalidad: </b> {{ author.nationality }} </p>
            <p><b>Nacimiento: </b> {{ author.birth_date }}</p>
            {% if author.birtdeath %}
                <p><b>Fallecimiento: </b> {{ author.birthdeath }}</p>
            {% endif %}
            
            <hr>
            <p class="w-200 mt-2">{{ author.biography }}</p>
            
        </article>
    </section>
    <section class="text-center text-lg">
        <h2>Libro de este autor en stock</h2>
        <div class="grid grid-cols-3 gap-5 mx-auto mt-5">
        {% for book in books %}
            {% include "_includes/_books/_book.html" %}
        {% empty %}
            <p>No hay libros en la biblioteca.</p>
        {% endfor %}
        </div>
    </section>
    {% if request.user|has_group:"staff" %}
    <section id="staff">
        <button class="mb-4 mt-4 cursor-pointer bg-pink-500 hover:bg-pink-600 transition-colors 
                        text-white font-bold py-2 px-4 rounded text-center">
            <a href={% url "author-delete" author.pk %}>Eliminar Autor
        </button></a>
    </section>
    {% endif %}
        
{% endblock %}