{% extends "general/layout.html" %} 
{% load is_staff %}
{% load crispy_forms_tags %}
{% block head_title %} Biblioteca - {{book.title}} {% endblock %} 

{% block page_content %}
    <h2 class="text-[2rem] text-center pb-4 pt-4">{{ book.title }}</h2>
    <section class="flex justify-center gap-4">
        <div>
        <img class="w-55 h-75" src={{ book.frontpage.url }} alt={{ book.title }}>
        {% if request.user|has_group:"staff" %}
            <button class="mb-4 mt-4 cursor-pointer bg-pink-500 hover:bg-pink-600 transition-colors text-white font-bold py-2 px-4 rounded text-center">
                    <a href="{% url "book-delete" book.pk %}">Eliminar libro</a>
            </button>
            <button class="mb-4 mt-4 cursor-pointer bg-pink-500 hover:bg-pink-600 transition-colors text-white font-bold py-2 px-4 rounded text-center">
                    <a href="{% url "book-update" book.pk %}">Editar libro</a>
            </button>
        {% endif %}
        </div>

        <article>
            <hr>
            <b>Autor: </b> <a href="{% url "author-detail" book.author.first.pk %}"">{{ book.author.first.name }} {{ book.author.first.last_name }}</a> </p>
            <p><b>Genero: </b> {{ book.genre }}</p>
            <p><b>Editorial:</b> {{ book.editorial}}</p>
            <p><b>Fecha de Publicación:</b> {{ book.publication_date}}</p>
            <p><b>ISBN:</b> {{ book.isbn }}</p>
            <p><b>Stock:</b> {{ book.cantidad }}</p>
            <p><b>Puntuación de nuestros usuarios: </b> {{ book.average_rating }} </p>
            <form method="post">
                {% csrf_token %}
                {% if loaned %}
                    <button type="submit" name="action" value="loan" class="mb-4 mt-4 cursor-pointer bg-pink-500 hover:bg-pink-600 transition-colors 
                    text-white font-bold py-2 px-4 rounded text-center">
                        Devolver Libro
                    </button>
                {% elif active_loans_count == 3 %}
                    <button type="submit" class="mb-4 mt-4 cursor-pointer bg-gray-400 text-white font-bold py-2 px-4 rounded text-center" disabled>
                        Has alcanzado 3 préstamos activos
                    </button>
                {% else %}
                    <button type="submit" name="action" value="loan" class="mb-4 mt-4 cursor-pointer bg-pink-500 hover:bg-pink-600 transition-colors 
                    text-white font-bold py-2 px-4 rounded text-center">
                        Pedir Prestado
                    </button>
                {% endif %}

            </form>

            
            <hr>
            <p class="w-200 mt-2">{{ book.synopsis }}</p>
            
        </article>
    </section>
        {% comment %} RESEÑAS {% endcomment %}
    <section class="reviews px-3 py-4">
            <h5 class="text-center text-xl mb-4 font-bold">Reseñas</h5>
        <div class="mb-5">
            <details class="cursor-pointer">
                <summary>Añadir Reseña</summary>
                <form action="" method='post'>
                    <div class="row">
                        <div class="col col-12">
                            {% csrf_token %}
                            {{ form.review|as_crispy_field }}
                            <div class="w-50">
                                {{ form.puntuacion|as_crispy_field }}
                            </div>
                        </div>
                        <div class="col col-12 flex justify-center items-center">
                            <button class="bg-pink-500 hover:bg-pink-600 transition-colors text-white font-bold py-2 px-4 rounded text-center">Publicar</button>
                        </div>
                    </div>
                </form>
            </details>
        </div>


        {% if book.reviews.all.count %}
            {% for review in book.reviews.all %}
                <article class="mb-4 border-gray-300 px-4 w-200 focus:outline-none text-gray-700 border py-2 rounded-lg leading-normal appearance-none bg-white block">
                    <header>
                        <strong>Autor:</strong> {{ review.user }} - <strong>Creado el: </strong>{{ review.created_at }} 
                    </header>
                    <div>
                        
                        <p> {{ review.review }} </p>
                        <p><strong>Puntuación:</strong> {{ review.puntuacion }}/10</p>
                    </div>
                </article>
            {% endfor %}
        {% else %}
            <p>Todavía no hay comentarios para esta publicación</p>
        {% endif %}

    </section> 
    
{% endblock %}