{% extends "general/layout.html" %} 
{% block head_title %} Biblioteca - Lista de libros {% endblock %} 

{% block page_content %}
{% comment %} BUSCADOR {% endcomment %}
  <h2 class="mt-2 text-xl text-center pb-4">Todos nuestros libros</h2>

  <form action="" method="get" class="relative flex w-full max-w-sm gap-2">
      {% csrf_token %}
      <select
      name="genre-search"
      
      class=" w-full rounded-lg border border-gray-300 bg-white px-5 py-2.5  text-sm focus:border-pink-500 focus:outline-none"
      required
      >
        <option value=""> Selecciona un genero </option>
        {% for genre in genres  %}
        <option value={{ genre }}>{{ genre }} </option>
        {% endfor %}
      </select>
      

    <button
      type="submit"
      class="rounded bg-pink-500 px-5 py-2 mr-1 text-xs font-bold uppercase text-white hover:bg-pink-600 transition-colors"
      >
          Buscar
    </button>
  </form>

{% comment %} CONTENIDO DE LA PÁGINA {% endcomment %}

<div class="w-full pt-5 px-4 mb-8 mx-auto"></div>
<section class="text-center">
  <div class="grid grid-cols-3 gap-5 mx-auto">
    {% for book in books %}
      {% include "_includes/_books/_book.html" %}
    {% empty %}
    <p>No hay libros en la biblioteca.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}