{% extends "general/layout.html" %}
{% load static %}
{% load is_staff %}
{% load crispy_forms_tags %}
{% block head_title %} Biblioteca - Mi perfil {% endblock %}

{% block page_content %}
    <h2 class="text-[2rem] text-center pb-4 pt-4"> Mi Perfil</h2>
    <section class="flex justify-center items-center gap-4">
        {% if profile.profile_picture %}
            <img class="w-48 h-48 rounded-full object-cover border border-gray-200 shadow-sm" src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}">
        {% else %}
            <img class="w-48 h-48 rounded-full object-cover border border-gray-200 shadow-sm" src="{% static 'user/img/default-user.avif' %}" alt="Imagen de perfil predeterminada">
        {% endif %}
            
        <article>
            <hr>
                <p><strong>Nombre de usuario:</strong> {{ profile.user.username }}</p>
                <p><strong>Nombre completo:</strong> {{ profile.user.first_name }} {{ profile.user.last_name }}</p>
                <p><strong>Correo electrónico:</strong> {{ profile.user.email }}</p>
                <p><strong>Fecha de Registro:</strong> {{ profile.register_date }}</p>
            <hr>
                <a href="{% url "user-profile-update" profile.pk %}">Cambiar foto de perfil</a>
        </article>
    </section>

    <section class="text-center text-lg">
        <div class="grid grid-cols-3 gap-5 mx-auto mt-5 ">
        {% for loan in active_loans %}
        <article class="flex flex-col gap-4 items-center">
         <a href="{% url "book-detail" loan.book.pk %}">
            <img class="w-32 h-48" src="{{ loan.book.frontpage.url }}" alt="{{ loan.book.title }}">
         </a>
         <a href="{% url "book-detail" loan.book.pk %}">
            <p>{{ loan.book.title }}</p>
         </a>
         </article>
        {% empty %}
            <p class="text-center col-2">No tienes libros aún.</p>
        {% endfor %}
        </div>

    </section>  

    <section class="mt-10 text-center">
        <h3 class="text-lg text-center pb-4 pt-4">Mi historial</h3>
        <table class="w-full, text-left text-sm ">
        <thead class="bg-gray-100 uppercase text-gray-700">
          <tr>
            <th class="px-6 py-4">Estado</th>
            <th class="px-6 py-4">Libro</th>
            <th class="px-6 py-4">Fecha Prestamo</th>
            <th class="px-6 py-4">Fecha Devolución</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg">
          {% for loan in loans %}
          {% if loan.return_date %}
            <tr class="bg-green-300 hover:bg-green-500 transition-colors">
              <td class="px-6 py-4 font-medium text-gray-900">Devuelto</td>
              <td class="px-6 py-4 font-medium text-gray-900">{{ loan.book.title }}</td>
              <td class="px-6 py-4 font-medium text-gray-900">{{ loan.loan_date}}</td>
              <td class="px-6 py-4 font-medium text-gray-900">{{ loan.return_date}}</td>
            </tr>
            {% else %}
            <tr class="bg-red-300 hover:bg-red-500 transition-colors">
              <td class="px-6 py-4 font-medium text-gray-900">Prestado</td>
              <td class="px-6 py-4 font-medium text-gray-900">{{ loan.book.title }}</td>
              <td class="px-6 py-4 font-medium text-gray-900">{{ loan.loan_date }}</td>
              <td class="px-6 py-4 font-medium text-gray-900"> - </td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
      <a href="{% url 'user-history' request.user.profile.pk %}" class="text-center underline"> Ver historial completo </a>
    </section>
        
{% endblock %}